/* Loader for post image thumbnail */
.post-loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .post-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #333;
    border-radius: 50%;
    animation: post-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #bbb transparent transparent transparent;
  }
  .post-loader div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .post-loader div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .post-loader div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes post-loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .section-container {
    display: grid;
    grid-template-columns: 300px calc(100% - 300px);
    margin: 0 100px;
    grid-gap: 30px;
  }
    .post-container {
      padding: 40px;
    }
    .post-container,
    .post-container .posts {
      display: flex;
      height: 100%;
      width: 100%;
    }
    .post-container .posts {
      flex-direction: column;
      overflow: auto;
      max-height: calc(100vh - 60px);
    }
    .post-thumbnail {
      width: 80%;
      height: max-content;
      padding: 10px;
      margin: 20px 0;
    }
      .post-thumbnail figure {
        margin: 0;
      }
      .post-thumbnail figure img {
        opacity: 1;
        transition: opacity 300ms;
      }
      .post-thumbnail figure img.hide-opacity {
        opacity: 0;
      }
      .post-thumbnail figure img:hover {
        opacity: 0.9;
        cursor: pointer;
      }
      .tags {
        padding: 10px 0;
      }
        .tags .tag {
          text-transform: uppercase;
          font-weight: bold;
          transition: color 300ms;
          padding: 5px 8px;
          font-size: 12px;
        }
        .tags .tag:hover {
          cursor: pointer;
        }
        .tags .tag.default {
          border-left: 7px solid #0086fe;
        }
        .tags .tag.default:hover {
          color: #0086fe;
        }
        .tags .tag.red {
          border-left: 7px solid #F91000;
        }
        .tags .tag.red:hover {
          color: #F91000;
        }
        .tags .tag.green {
          border-left: 7px solid #00C753;
        }
        .tags .tag.green:hover {
          color: #00C753;
        }
  h1.heading {
    font-size: 2em;
    transition: color 300ms;
    margin-bottom: 10px;
  }
  h1.heading:hover {
    color: #0b6ba6;
    cursor: pointer;
  }
  .time {
    color: #aaa;
    display: flex;
    align-items: center;
    font-size: 13px;
    transition: color 300ms;
  }
  .time > * {
    margin-right: 5px;
  }
  .time:hover {
    color: #0b6ba6;
    cursor: pointer;
  }
  .post-loader-container {
    height: 370px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #efefef;
    justify-content: center;
  }
  .excerpt {
    font-size: 16px;
    color: #666;
  }
  .continue {
    display: flex;
  }
  a.continue-reading {
    margin-left: auto;
    color: #0b6ba6;
    text-decoration: none;
  }

  /* Side bar css */
  .side-bar {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 0 20px;
  }
    .tags-list,
    .cat-list {
      display: grid;
      grid-gap: 10px;
    }
    .cat-list {
      margin-bottom: 30px;
    }
    .cat-list > span {
      padding: 5px 0;
      transition: color 300ms;
    }
    .cat-list > span:hover {
      color: #0086fe;
      cursor: pointer;
    }
    .tags-list .tags {
      display: grid;
      grid-gap: 10px;
    }
    .tags-list > h3,
    .cat-list > h3 {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: normal;
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
      color: #999;
    }
  .post .NA {
    font-size: 20px;
    color: #999;
    margin: auto;
  }

@media (max-width: 1080px) {

  .section-container {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .burger-icon {
    display: flex;
    color: #fff;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 60px;
  }
  .side-bar {
    opacity: 0;
    width: 0;
    background: #fff;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    /* overflow-x: hidden; */
    transition: 0.5s;
  }
  .side-bar.slide {
    opacity: 1;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px;
  }
  .post-thumbnail {
    width: 100%;
  }
}