@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
}
body {
    margin: 0;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	background: var(--color-hover);
}
::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0);
}

.hidden {
    display: none !important;
}
h1,h2,h3,h4,h6 {
    margin: 0;
}

header {
    background: #0f273a;
    display: flex;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,.15);
    position: sticky;
    top: 0;
    z-index: 10;
}
    .burger-icon {
        display: none;
    }
    header span.item {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 20px;
    }
    header span.item a {
        color: #fff;
        text-decoration: none;
    }
    header .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 40px;
    }
        header .logo img {
            height: 60%;
        }

/* Css for Loader */
.loader-container {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 300ms;
    background: rgba(255, 255, 255, 0.6);
}
.loader-container.show {
    opacity: 1;
}
.loader-container.hide {
    opacity: 0;
}
.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
    .loader div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: #6caee6;
        animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .loader div:nth-child(1) {
        left: 8px;
        animation-delay: -0.24s;
    }
    .loader div:nth-child(2) {
        left: 32px;
        animation-delay: -0.12s;
    }
    .loader div:nth-child(3) {
        left: 56px;
        animation-delay: 0;
    }
    @keyframes loader {
        0% {
            top: 8px;
            height: 64px;
        }
        50%, 100% {
            top: 24px;
            height: 32px;
        }
    }

@media (max-width: 1080px) {
    header .logo {
        margin: 0 auto;
    }
    .item {
        margin: unset;
    }
}