main section {
    display:  flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 40px;
}
figure {
    margin: 0;
}
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content a {
    color: #0b6ba6;;
    text-decoration: none;
}
.is-provider-twitter {
    padding: 30px;
    width: 60%;
    margin: 5px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: 1px solid #ccc;
}
.related-post > div {
    margin: 20px 0;
}
.related-post > div > h3 {
    margin-bottom: 10px;
}
.rel-post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:  30px;
}
.rel-post article {
    display: flex;
    flex-direction: column;
    transition: opacity 300ms;
}
.rel-post article h4 {
    margin-top: auto;
}
.rel-post article:hover {
    opacity: 0.8;
    cursor: pointer;
}
.related-post h4 {
    margin-bottom: 20px;
}

.burger-icon {
    display: none;
}

@media (max-width: 1080px) {
    main section {
        margin: 0;
        width: 100%;
    }
}